.App {
  min-height: 100vh;
  text-align: center;
}

html body {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  background-color: #282c34;
  box-shadow: 0 0 .5rem .01rem rgb(56, 255, 21);
  border-radius: 0 0 .6rem .6rem;
  position: fixed;
  padding: 1rem 1rem .5rem;
  top: 0;  
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navBar div:nth-child(2) {
  position: relative;
  /* right: 0rem; */
}

.navBar-right {
  display: flex;
  align-content: center;
}
.navBar a {
  text-shadow: .1rem .07rem .3rem rgb(56, 255, 21);
  margin: 0 10px;
  color: white;
}

.navBar span {
  color: rgba(255, 255, 255, 0.698);
  text-shadow: .1rem .07rem .3rem rgb(56, 255, 21);
  font-size: .8rem;
  position: relative;
  top: .5rem;
  padding: 0;
  height: 20px;
}


input {
  background: none;
  border-top: .5rem;
  border-right: .5rem;
  border-left: .5rem;
  color: rgba(255, 255, 255, 0.822);
  font-size: 1.25rem;
  margin-left: 1rem;
}

input:focus {
  color: rgba(255, 255, 255, 0.822);
  outline: none;
}

.welcome-page {
  margin-top: 10rem;
  text-shadow: .1rem .07rem .3rem rgb(56, 255, 21);
}
h4.welcome-page {
  margin-top: 5rem;
}

.plant-list-container {
  width: 80%;
  height: 70vh;
}

.plant-list-container header {
  color: white;
  text-shadow: .1rem .07rem .3rem rgb(56, 255, 21);
  text-align: center;
  width: 33%;
  margin: 3.5rem auto 30px;
  border-radius: 0 0 .6rem .6rem;
  box-shadow: 0 .2rem .5rem .01rem rgb(56, 255, 21);
  padding: 10px 0;
}

.plant-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 70vh;
}

.plant-card {
  /* max-width: 25%;
  min-width: 200px; */
  font-size: 1.4rem;
  box-shadow: 0 0 .5rem .01rem rgb(56, 255, 21);
  border-radius: .6rem;
  padding: 1rem 1rem .5rem;
  margin: 0 0 1rem;
  top: 0;  
  max-width: 21%;
  min-width: 200px;
  display: flex;
  max-height: 50vh;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  /* text-shadow: .1rem .07rem .3rem rgb(255, 255, 255); */
  color: rgb(56, 255, 21);
}

.plant-card img {
  max-width: 100%;
  object-fit: cover;
  height: 60%;
}

.plant-controls {
  display: flex;
  justify-content: space-evenly;
}

.plant-controls button {
  font-size: .8rem;
  font-weight: 800;
  background-color: rgba(24, 163, 0, 0.822);
  border: .15rem dotted rgba(44, 209, 14, 0.87);
  border-radius: 45%;
  padding: .8rem;
}

.plant-controls button:hover {
  cursor: pointer;
  color: yellowgreen;
  background-color: rgba(38, 200, 9, 0.822);
}

.login-page {
  color: rgba(24, 163, 0, 0.822);
  background: #16181d86;
  border: .21rem solid rgba(0, 0, 0, 0.411);
  border-radius: .51rem;
  margin-top: 8rem;
  padding: 7rem 7rem 3rem;
}

.login-page a {
  color: white;
  text-shadow: .1rem .07rem .3rem rgb(56, 255, 21);
  font-size: 1.3rem;
  font-weight: 500;
}

.login-page button {
  font-size: .8rem;
  font-weight: 800;
  background-color: rgba(24, 163, 0, 0.822);
  border: .15rem dotted rgba(44, 209, 14, 0.87);
  border-radius: 45%;
  margin: 3rem auto 0;
  padding: .8rem;
}

.login-page button:hover {
  cursor: pointer;
  color: yellowgreen;
  background-color: rgba(38, 200, 9, 0.822);
}

.register-page {
  color: rgba(24, 163, 0, 0.822);
  background: #16181d86;
  border: .3rem solid rgba(0, 0, 0, 0.411);
  border-radius: .51rem;
  margin-top: 8rem;
  padding: 3rem
}

.register-page h2 {
  color: white;
  text-shadow: .1rem .07rem .3rem rgb(56, 255, 21);
}

.register-page h4 {
  margin-bottom: 2rem;
}

.register-page button {
  font-size: .8rem;
  font-weight: 800;
  background-color: rgba(24, 163, 0, 0.822);
  border: .15rem dotted rgba(44, 209, 14, 0.87);
  border-radius: 45%;
  margin: 3rem auto 0;
  padding: .8rem;
}

.register-page button:hover {
  cursor: pointer;
  color: yellowgreen;
  background-color: rgba(38, 200, 9, 0.822);
}

.edit-plant {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: rgba(24, 163, 0, 0.822);
  background: #16181d86;
  border: .21rem solid rgba(0, 0, 0, 0.411);
  border-radius: .51rem;
  margin-top: 8rem;
  padding: 2rem;
  width: 30%;
}

.edit-plant img{
  border: 1px solid red;
  width: 75%;
}

.edit-user {
  color: rgba(24, 163, 0, 0.822);
  background: #16181d86;
  border: .21rem solid rgba(0, 0, 0, 0.411);
  border-radius: .51rem;
  margin-top: 8rem;
  padding: 2rem;
}

.add-plant {
  color: rgba(24, 163, 0, 0.822);
  background: #16181d86;
  border: .21rem solid rgba(0, 0, 0, 0.411);
  border-radius: .51rem;
  margin-top: 8rem;
  padding: 3rem;
}

p.error {
  color: rgba(165, 33, 0, 0.733);
  text-shadow: 0 0 .8rem rgba(82, 2, 2, 0.774);
  margin: 0 0 1.5rem;
}

@media (max-width: 800px) {
  .plant-list {
    margin: 1rem 0 1rem;
  }
  .navBar div:nth-child(2) {
    position: relative;
    right: 0rem;
  }
  #AE {
    display: none;
  }
}
@media (max-width: 770px) {
  .plant-list-container header {
    visibility: hidden;
    margin: 2rem 0 0;
  }
  .plant-list {
    margin: 1rem 0 1rem;
  }
  .navBar div:nth-child(2) {
    position: relative;
    right: 0rem;
  }
  #AE {
    display: none;
  }

  .navBar span{
    position: relative;
    top: 0rem;
  }
  .welcome-page{
    margin-top: 7rem;
  }
  h4.welcome-page {
    margin-top: 50px;
  }
  .login-page{
    margin-top: 6rem;
  }
  .register-page{
    margin-top: 6rem;
  }
}

#AE {
  font-size: 1.5rem;
}
#username {
  position: relative;
  right: 10px;
}
#password {
  position: relative;
  right: 7px;
}
